<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AngularTest</title> 
        <meta name="author" content="Amogh M K">
    </head>

    <style>
        input.ng-valid {background-color: limegreen}
        input.ng-invalid {background-color: indianred}
        input.ng-untouched {background-color: lightblue}
        input:disabled {background-color: gray}
        input {
            text-align: right;
            width: auto;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="angularTest.js"></script>

    <body>

        <h1> EMI Calculator </h1>

        <div ng-app="emi-form" ng-controller="emi-form-controller">

            <form name="form_var">

                Cost of the product: Rs. <input type="number" min="1" ng-model="item_cost" placeholder="0" required><br><br>

                <input type="checkbox" value="No Cost EMI" ng-model="no_cost_flag"> No Cost EMI <br><br>

                EMI Interest Rate: <input type="number" min="1" max="100" pattern="[0-9]*" ng-model="interest_rate"> %<br><br>

                Duration: <input type="number" min="1" max="60" pattern="[0-9]*" ng-model="duration"> Months<br><br>

                <input type="submit" value="Calculate" ng-click="displayEMI(form_var.$valid)"><br><br>

            </form>

            <div ng-show="result_show">
                <p> Principal amount: {{principal_amount}}</p>
                <p> EMI amount: {{emi_amount}}</p>
                <p> Interest amount: {{interest_amount}}</p>
                <p> GST amount: {{gst_amount}}</p>
                <p> Total amount: {{total_amount}}</p>
            </div>

        </div>
    </body>
</html>